<!--<h1>StaticPages#highSchool</h1>
<p>Find me in app/views/static_pages/highSchool.html.erb</p>-->

<!-- everything is inside a class so that the page will be modeled in a certain way-->
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <!-- Setting the links to #! will ensure that no action takes place on click. -->
        <!-- navbar -->
        <li><a href="/#home">Home</a></li>
        <li><a href="/middleSchool">Middle School</a></li>
        <li><a href="#highSchool">High School</a></li>
        <li><a href="/admin">Administration Login</a></li>
      </ul>
    </nav>
  </div>
</section>
<!-- title-->
<br><h6> High School at X School</h6></br>
<!-- brief description -->
<br><p6>Since this is an IB school, students have the opportunity to choose to learn more in-depth about certain classes in the DP Program. The 'High School Featured Contents' will contain all aspects of technology that 9th and 10th grade students will get to experience while 'High School DP Featured Contents' will contain the more specialized classes that 11th and 12th grade students have the choice of taking.
</p6></br>
<!-- links to High School Featured Contents and High School DP Featured Contents -->
<%= link_to 'High School Featured Contents', highschoolposts_url %>
<%= link_to 'High School DP Featured Contents', dpposts_path %>

<!-- footer -->
<div id="footer">
2019 Copyright © 
</div>